* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #333;
}

h1 {
    text-align: center;
    color: rgb(16, 13, 19);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    background-color: #fff;
    margin: 70px 500px;
}

.form-1 {
    padding: 12px;
    text-align: center;
    margin: 50px 530px;
    color: #fff;
    font-size: larger;
    background-color: rgb(124, 55, 55);
    border-radius: 10px 12px;
}

.btn-1 {
    padding: 15px 15px;
    border-radius: 15px;
    border-color: antiquewhite;
    background-color: rgb(192, 203, 203);
    padding: 10px 25px;

}